/* See license.txt for terms of usage */

.progressList {
    background-repeat: no-repeat;
    background-position: 2px 3px;
    padding-left: 18px;
}

.progressList.hasProgress > .twisty {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 3px;
    background: url(twistyClosed.png) no-repeat;
    vertical-align: middle;
}

.progressList.hasProgress.opened > .twisty {
    background-image: url(twistyOpen.png);
}
